body
{
	background-image:url(Leatherback_sea_turtle.jpg);
	background-repeat:no-repeat;
	background-position: 50% 0px;
}
h1,p,a
{
	margin:auto;
	border:10px solid purple;
	padding:50px;
	background-color:blue;				
	color:orange;
	width:350px;
	height:50px;
	text-align:center;
	display:block;
}
